.swiper-button-next,
.swiper-button-prev {
  color: #ffba08;
  margin: 0 50px;
  transform: translate(0%, -50%);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 2.5rem;
}

.swiper-pagination-bullet {
  background: #999999;
  width: 1rem;
  height: 1rem;
}
.swiper-pagination-bullet-active {
  background: #ffba08;
}

@media (max-width: 480px) {
  .swiper-button-next,
  .swiper-button-prev {
    margin: 0 8px;
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 2rem;
  }
  .swiper-pagination-bullet {
    width: 0.5rem;
    height: 0.5rem;
  }
}
